<!DOCTYPE html>
<html>

  <head>
     <meta charset="utf-8">
     <title>Some Website</title>

     <body>
       {{> header}}
       <p><h1>Site under construction. Please come back later</h1></p>
     </body>
      {{> footer}}
  </head>

</html>
